/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    margin: auto;
    width: 100%;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #06D6A0;
    display: grid;
    grid-template-columns: 100px auto; 
}

header div{
    margin-left: 10px;
    margin-top: 10px;}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

#currdate {
    background-color:  #06D6A0 ; 
    text-align: center;
    padding: 1rem 2%;
}
/* style the social media  */
.social-media{
    color:#002E5D; 
    font-size: 1.5rem; 
    text-align: center;
    padding-bottom: 1rem;
}
.social-media i{
    padding: .2rem;
}
/* social media hoover color */
.social-media i:hover{
    color: #D9D8D5;
}
/*----------- NAVIGATION --------------*/

nav button{
    /* veiw width removes it from the left side of the screen */
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555; 
    border-radius: 10px;
    text-align: left;
}

nav {
    background-color: #EF476F;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}

nav ul {display: none;}
nav ul.open{display: block;}

/*----------- MAIN --------------*/
/*-----------index.html----------*/
.index {
    background-color: #06D6A0;
    margin: 0 auto;
	padding: 0.5rem;
}

.index div{
  background-color: rgb(46,117,182); 
  color:#fff;
  text-align: center;
  
}

.index h2{
    text-align: center;
    margin-top: 5%;
}

.index p{
  text-align: center;  
  margin-top: 1rem;
}

.heroimage {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.index div {
    min-height: 200px;
}

#hero {
    background-image: url(../images/maple.jpg);       
}

#herojoin {
    z-index: 1;
}

.spotlight2 picture img{
    width: 200px;
    height: 100px;
}

.spotlight1 picture img{
    width: 200px;
    height: 100px;
}

#heroimage #herojoin{
    position: absolute;
    color: #D9D8D5;
    top: 10%;
    left: 20%;
    background-color:rgb(252, 212, 82) ;
    box-shadow: 0 0 30px #333;
    opacity: 1;
    width: 30%;
    height: auto;
    padding: 1rem;
}

.btnjoinchamber{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EF476F;
    padding: 0.5rem 3rem;
    border: 0px solid #fff;
    border-radius: 10px;
    color: #DCD1D1;
}

.btnjoinchamber:hover{
    background-color:#9f4f40;
}

.btnjoin{
    background-color: #EF476F;
    padding: 0.5rem 5.5rem;
    border: 0px solid #fff;
    border-radius: 10px;
    color: #DCD1D1;
    margin:0.5rem;
    
}

.btnjoin:hover{
    background-color:#9f4f40;
}

p.showme {display:block;}
p.hideme {display:none;}

.main-join {
    background-color: #06D6A0;
    margin: 0 auto;
	padding: 0.5rem;
}
/*----------- FORM --------------*/
form fieldset {
    margin: 2rem .5rem;
    border: 2px solid #999;
    padding: 0.2rem 10%;
    font-size: large;
  }

  form legend {
    color: #EF476F;
    margin: 0 1rem;
    padding: 0 1rem;
  }

  form label.person{
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: black;
    font-size: .8rem;
  }

  form label.person input, form label.person select, form #description {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: white;
  }

  form label.membership {
    display: block;
    padding: .75rem;
    color: black;
  }

  form input.submitBtn {
    border: none;
    background-color: #EF476F;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
  }

  form label.person input:required {
    border-left: red solid 6px;
  }
  form label.person input:required:valid {
    border-left: green solid 6px;
  }

textarea{
  border:none;
}

/*----------- FOOTER --------------*/
footer {
    background-color: rgb(252, 212, 82);
    padding: .5rem 2%;
    text-align: center;
}

#logo-address {          
   align-items: center;   
}

#hamburgerBtn span:nth-child(1) {
    display: block;
    color:#D9D8D5;
    margin: .2rem 2vw;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
    color:#D9D8D5;
    margin: .2rem 2vw;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

/* ---------- Discover--------- CSS  */
.main-discover {
    background-color: #06D6A0;
    margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;
}

.city{
    background-color: #06D6A0;
    color:#000000;
    margin-bottom: 0.5rem;
    justify-content: center;
}

.city-img{
    padding: 0.1rem; 
    width: 100%;
    height: auto;   
}

.city-img:hover {box-shadow: 0 0 50px #92CB97;}

.city-content{
    padding: 0.1rem; 
}

/* ---------- Directory--------- CSS  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-directory {
	margin: 0 auto;
	border: 1px solid #bbb;
	padding: 0.5rem;	
    background-color: #06D6A0;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
}

article,
section {
	margin: 0.75rem;
}

section {	
	padding: 0.5rem;	   
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;    
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
    border: 1px solid white;
	flex-direction: column;
	text-align: center;
    height: 250px;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {    
	flex-direction: row;
	justify-content: left;
}

.list section:nth-of-type(odd){
    background-color: #06D6A0;
}
.list section:nth-of-type(even){
    background-color: rgb(252, 212, 82) ;
}

.list section > * {
	margin: 0 0.1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.5rem;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}

.main-directory img {
	height: 60px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

/* -----------------contact --------------*/


.main-contact {
    background-color: #06D6A0;
    margin: 0 auto;
	padding: 0.5rem;
}

.page-title {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 1rem;

}
/* inputform */
.main-contact form div {
    margin-bottom: 14px;
    margin-left: 1rem;
}
.main-contact label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
.main-contact input[type="text"],
.main-contact input[type="email"],
.main-contact textarea {
    background: white;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
.main-contact input[type="text"],
.main-contact input[type="email"] {
    width: 100%;
    max-width: 240px;
}
.main-contact textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
.main-contact input[type="submit"] {
     
    cursor: pointer;
    line-height: 1;
}

.main-contact .contactbtn {
    border: none;
    background-color: #EF476F;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}    


@media (max-width: 400px) {
	.list section img {
		display: block;
	}
}

